@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #B9EDDD;
    --secundario: #87CBB9;
    --terciario: #569DAA;
    --ultimo:#577D86;
    --gris: #CCCC;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Open Sans", sans-serif;
    overflow-x: hidden;
}

.menu {
    background:var(--blanco);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position:fixed;
    left: 0;
    right:0;
    top:0;
    z-index: 999;
    height: 85px;
    width: 100vw;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 60px; /* Establece la altura deseada */
    width: 80px; /* Establece el ancho deseado */
    margin-left: 1.5rem;
}

.logo img {
    height: 60px;
    width: 120px;
    align-items: center;
}

.nav-list {
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: auto;
    list-style: none;
    margin-right: 30px;
}

.nav-list li {
    margin: 0 5px;
}

.nav-list li a {
    padding: 7px 13px;
    text-decoration: none;
    display: block;
    color: var(--negro);
}

.nav-list li:hover, li.active {
    background-color: var(--secundario);
    font-weight: bold;
    transition: .4s;
}

.btn_menu {
    margin-right: 30px;
    color:var(--negro);
    cursor: pointer;
    display: none;
}

ul.show {
    top:65px
}

main{
    position: absolute;
    top: 80px;
    padding-top: 20px;
    width: 100vw;
}

.login {
    position: relative;
    height: calc(100vh - 100px);
    width: 100vw;
}

.texto-arriba {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
 
}

.inputs-left {
    display: flex;
    flex-direction: column;
}

.inputs-left label{
    margin-right: 5rem;
    margin-top: 1rem;
}

.inputs-right {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.inputs-right label{
    margin-left: 5rem;
    margin-top: 1rem;
}

.input-content {
    background-color: var(--secundario);
    border: none;
    color: var(--negro);
    padding: 0.8rem  1.7rem;
    border-radius: 40px;
    width: 15em;
    margin-right: -2rem;
}

.btn {
    text-align: center;
    margin-top: 2rem;
}

.button-login {
    background-color: var(--secundario);
    border: none;
    padding: 0.8rem  1.7rem;
    border-radius: 40px;
    width: 15em;
    font-weight: bold;
}

.img-petsmart {
    position: fixed;
    right: 0;
    bottom: 0;
}

.img-petsmart img{
    height: 100px;
    width: 150px;
}

.wave {
    position: absolute;
    left: 0;
    bottom: 0;
}

.wave .mi-svg {
    stroke: none;
    fill: #B9EDDD;
    height: 100%;
    width: 100%;
}

@media (max-width: 858px) {

    .btn_menu {
        display: inline-flex;
    }

    .nav-list {
        position: fixed;
        width: 100vw;
        height: calc(100vh - 65px);
        background-color: var(--terciario);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        align-items: center;
        padding-left:10px
    }

    .nav-list li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .nav-list li:hover {
        background: none;
    }

    .nav-list li a {
        font-size: 20px;
        color:var(--blanco);
        font-weight: bold;
    }

    .nav-list li a:hover {
        color: var(--blanco);
    }

}

@media (max-width: 450px) {

    .inputs {
        flex-direction: column;
    }
    .inputs-left label{
        margin-right: 2rem;
    }
    .inputs-right {
        margin-top: 0;
        flex-direction: column;
    }

    .inputs-right label {
        margin-left: 0;
        margin-right: 2rem;
    }

    .wave {
        z-index: -1;
    }
}

@media (max-height:750px){

    .inputs {
        margin-top: 3vh;
    }
    
}

@media (max-height: 680px) {
    .inputs {
        margin-top: 0vh;
    }
}